.todo-list{
    width: 700px;
    margin: 0 auto;

}
.todo-list>ul{
    list-style-type: none;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    overflow: hidden;
}
.todo-list>ul>li{
    float: left;
}
.likes{
    width: 15%;
    text-align: center;
}
.text{
    width: 65%;
}
.done-text{
    text-decoration: line-through;
}
.done{
    width: 20%;
    text-align: right;
}
.like-icon, .remove-icon{
    color: #ff1700;
    cursor: pointer;
    font-size: 20px;
}
.done-icon{
    color: #4fd3c4;
    cursor: pointer;
    font-size: 20px;
}